$color-one: #1f1f1f;
$color-two: #5f4128;
$color-three: #a24d06;
$color-bg: #f5f5f5;
$border: #9e9e9e;

$max-width: 1200px;
$max-shop-width: 2500px;
$max-width-modal: 1000px;

$phone: 768px - 1;
$tablet: 1024px - 1;
